@import url('https://fonts.googleapis.com/css2?family=Caveat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Arsenal&display=swap');
*{
    font-family: 'Arsenal', Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing:content-box;}
.container{
    margin: auto;
    max-width: 1100px;
    width: 100%;}
body{
    display: flex;
    flex-direction: column;
    min-height: 100vh;}
main{
    flex-grow: 3;}
i{
    margin-right: 5px;}



header{
    position:fixed;
    top: 0;
    left: 0;
    background: white;
    width: 100%;
    z-index: 2;
    border-bottom: 1px solid #f0f0f1;
    box-shadow: 0px 4px 5px 0px rgba(34, 60, 80, 0.2);}
header .wrapp-top{
    background-color: #526371;}
header .content-header-top{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 14px;
    padding: 10px 0;
    color: #9AC8E6;
    font-weight: bold;}
header .content-header-top .phone{
    display: flex;}
header .content-header-top .phone a{
    display: flex;
    align-items: center;
    color: #9AC8E6;
    margin-left: 5px;
    text-decoration: none;
    font-weight: bold;}
header .content-header-top .phone a img{
    width: 15px;
    height: 15px;}
header .content-header-bottom{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 0;}
header .content-header-bottom .logo{
    margin-right: 15px;}
header .content-header-bottom .logo a{
    display: flex;
    align-items: center;
    text-decoration: none;
    font-weight: bold;
    font-size: 30px;
    color: #526371;}
header .content-header-bottom .logo img{
    width: 75px;
    height: 75px;
    margin-right: 10px;}
header .content-header-bottom nav{
    display: flex;
    flex-wrap: wrap;}
header .content-header-bottom nav a, header .content-header-bottom nav .dropbtn, header .content-header-bottom nav .dropdown-content a{
    text-decoration: none;
    color: #526371;
    padding: 10px;
    transition: .2s;
    border: 2px solid white;
    margin: 3px;
    font-size: 18px;}
.auth:hover{
    font-weight: bold;}
header .content-header-bottom nav a:hover,header .content-header-bottom nav .dropbtn:hover{
    border-color: #3695EB;
    color: #3695EB;}
header .content-header-bottom nav .dropdown {
    display: flex;
    position: relative;}
header .content-header-bottom nav .dropbtn {
    background-color: transparent;}
header .content-header-bottom nav .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    width: max-content;
    border: 1px solid rgba(0,0,0,0.2);
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    transform: translate(-40px, 40px);}
header .content-header-bottom nav .dropdown-content a {
    display: block;
    font-size: 15px;}
header .content-header-bottom nav .dropdown-content a:hover {
    color: white;
    background-color: #3695EB;}
header .content-header-bottom nav .dropdown:hover .dropdown-content {
    display: block;}



.block{
    margin: 40px 0;}
.block h1{
    font-size: 35px;}
.block .line{
    display: flex;
    margin: 10px 0;}
.block .line .one{
    height: 3px;
    border: 0;
    background: blue;
    width: 10%;}
.block .line .two{
    height: 2px;
    border: 0;
    background: lightgray;
    width: 90%;}
.block p{
    text-indent: 50px;
    text-align: justify;
    font-size: 18px;
    margin-bottom: 10px;}
.block ul, .block ol:not(.itcss__indicators){
    margin-left: 40px;}
.block ul li, .block ol li{
    font-size: 18px;
    text-align: justify;
    margin-bottom: 10px;}
.block img{
    width: 100%;
    border: 1px solid
}
    



footer{
    background: #4F6070;
    padding: 15px 0;
    color: white;}
footer a{
    color: #CDE2F4;
    transition: .2s;}
footer a:hover{
    text-decoration: none;}
footer .bottom .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 10px;}
footer .bottom .container > div{
    display: flex;}
footer .bottom .pred{
    flex-direction: column;}